<!doctype html>
<head>
  <meta charset="utf-8">
  <title>求臻医学</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<div class="container">
    <div class="jumbotron text-left">
        <h1 class="display-4">Hello, world!</h1>
        <p  class="lead">探索科技创新 致力医学求臻</p>
    </div>
    {% block body %}{% endblock %}
</div>

