{% extends 'base.html' %}
{% block body %}
<table class="table">
        <thead>
            <tr>
                <th scope="col">chr</th>
                <th scope="col">pos</th>
                <th scope="col">gene_name</th>
                <th scope="col">transcript_name</th>
                <th scope="col">details</th>
                <th scope="col">chain</th>
                <th scope="col">20bp-sequence+20bp</th>
            </tr>
        </thead>
        <tbody>
        {%for i in range(trans|length)%}
                <tr>
                    <td>{{chr}}</td>
                    <td>{{pos}}</td>
                    <td>{{gene[i]}}</td>
                    {% if trans[i] in canoical_trans%}
                        <td bgcolor="#FF0000">{{trans[i]}}</td>
                    {%else%}
                        <td>{{trans[i]}}</td>
                    {%endif%}
                    <td>{{detail[i]}}</td>
                    <td>{{chain[i]}}</td>
                    <td>{{sequence}}</td>
                </tr>
        {%else%}
        <tr>
                    <td>{{chr}}</td>
                    <td>{{pos}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{sequence}}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}